{% extends 'AppBundle::layout.html.twig' %}


{% block sidebar %}
{# {{ include('AppBundle:manager:sidebar.html.twig') }} #}
{{ render(controller('AppBundle:Manager/Dashboard:sidebar', {'current':current})) }}
{% endblock %}


{% block content %}

<h2>Statistics</h2>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Action</th>
    <th>Coming</th>
    <th>Leave</th>
    <th>Name</th>
    <th>summ In</th>
    <th>summ Out</th>
    <th>summ Win</th>
    <th>game</th>
  </tr>
  {% for visit in visits %}
    <tr>
      <td>{{ visit.id }}</td>
      <td>
        <div class="btn-group btn-group-sm">
          <a href="{{ path('manager_visit_show', {'id' : visit.id}) }}" class="btn"><span class="fa fa-eye" aria-hidden="true"></span></a>
          {# <a href="{{ path('manager_visit_edit', {'id' : visit.id}) }}" class="btn"><span class="fa fa-pencil" aria-hidden="true"></span></a> #}
          {# <a href="{{ path('manager_visit_delete', {'id' : visit.id}) }}" class="btn delete"><span class="fa fa-trash" aria-hidden="true"></span></a> #}
        </div>
      </td>

      <td>{{ visit.comingTime|date("Y/m/d H:i") }}</td>
      <td>{{ visit.leaveTime is empty ? "" : visit.leaveTime|date("Y/m/d H:i") }}</td>
      <td>{{ visit.guest.firstName }}</td>
      <td>{{ visit.sumIn }}</td>
      <td>{{ visit.sumOut }}</td>
      <td>{{ visit.sumWin }}</td>
      <td>{{ visit.game }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
