{% extends 'AppBundle::layout.html.twig' %}

{% block sidebar %}
  {# {{ include('AppBundle:manager:sidebar.html.twig') }} #}
  {{ render(controller('AppBundle:Manager/Dashboard:sidebar', {'current':current})) }}
{% endblock %}

{% block content %}
  <div class="container-fluid">


    <h2>Клиенты</h2>

<div class="row">
{% if visits is not empty %}<h2>В Зале</h2>{% endif %}
{% for key, visit in visits %}
    <div class="col-md-4">
        <div class="well profile">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>
                            <a href="{{ path('manager_guest_edit', {'id' : visit.guest.id}) }}">{{ visit.guest.firstName }} {{ visit.guest.lastName }}</a>
                        </h2>
                        <p>&nbsp;{{ visit.guest.phone }}
                        <p>&nbsp;{{ visit.guest.email }}
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="/images/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2>
                            <strong>{{visit.sumIn}}</strong>
                        </h2>
                        <p><small>Summ In</small></p>
                        <p>{{ visit.comingTime|date("Y/m/d H:i") }}
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{visit.sumOut}}</strong></h2>
                        <p><small>Sum Out</small></p>
                        
                    </div>
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{visit.sumWin}}</strong></h2>
                        <p><small>Summ win</small></p>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"><a class="btn btn-info btn-block" href="{{path('manager_visit_edit',{'id':visit.id})}}">Редактировать</a></div>
                <div class="col-md-6"><a class="btn btn-primary btn-block" href="{{path('manager_visit_edit',{'id':visit.id, 'leave':1})}}">Уходит</a></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endfor %}
</div>



{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<hr>
<h2>Добавить клиента</h2>
  <p><a href="{{path('manager_guest_edit')}}" class="btn btn-default"><i class="fa fa-plus"></i> Новый клиент</a>
<div class="row">
{% for key, guest in guests %}
    <div class="col-sm-6 col-md-4">
        <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>
                        <a href="{{ path('manager_guest_edit', {'id' : guest.id}) }}">{{ guest.firstName }} {{ guest.lastName }}</a>
                    </h2>
                    <p>&nbsp;{{ guest.phone }}
                    <p>&nbsp;{{ guest.email }}
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="/images/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <a href="{{path('manager_visit_new',{'guest':guest.id})}}" class="btn btn-success btn-block" >Пришел</a>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis"></div>
                <div class="col-xs-12 col-sm-4 emphasis"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endfor %}
</div>

  </div>
{% endblock %}