{% if user.role == 'ROLE_MANAGER' %}
<nav class="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Клуб <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" role="menu">
      {% for item in clubs %}
        <li><a href="{{path('manager_dashboard', {'id':item.id})}}"><i class="fa fa-btn fa-sign-in"></i>{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
{% endif %}
    <h4>Менеджер зала</h4>
    <h3>{{ club.title }}</h3>

<ul class="nav side-nav">
{# Visits #}
  <li class="{{ current.controller == 'visit' ? 'active' }}">
    <a href="{{path('manager_visits_list')}}"><i class="fa fa-users"></i> Посещения</a>
  </li>
{# Guests #}
  <li class="{{ current.controller == 'guest' ? 'active' }}">
    <a href="{{path('manager_guests_list')}}"><i class="fa fa-users"></i> Клиенты</a>
  </li>

{# Clubs #}
  <li class="{{ current.controller == 'club' ? 'active' }}">
    <a href="{{path('manager_club_edit')}}" ><i class="fa fa-newspaper-o"></i> Edit Club</a>
  </li>
{# Users #}
  <li class="{{ current.controller == 'user' ? 'active' }}">
    <a href="#" ><i class="fa fa-users"></i> Users</a>
  </li>
</ul>
