{% if user.role == 'ROLE_MANAGER' %}
<nav class="navbar">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Клуб <span class="caret"></span>
      </a>

      <ul class="dropdown-menu" role="menu">
      {% for item in clubs %}
        <li><a href="{{path('manager_dashboard', {'id':item.id})}}"><i class="fa fa-btn fa-sign-in"></i>{{item.title}}</a></li>
      {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
{% endif %}
    <h4>Менеджер зала</h4>
    <h3>{{ club.title }}</h3>

<ul class="nav side-nav">
<li class="{{ current.controller == 'dashboard' ? 'current' }}">
  <a href="{{path('manager_dashboard')}}"><i class="fa fa-bar-chart"></i> Статистика клуба</a>
</li>
{# Guests #}
  <li class="{{ current.controller == 'guest' ? 'current' }}">
    <a href="{{path('manager_guests_list')}}"><i class="fa fa-users"></i> Активные гости</a>
  </li>
{# Visits #}
{#   <li class="{{ current.controller == 'visit' ? 'current' }}">
    <a href="{{path('manager_visits_list')}}"><i class="fa fa-bar-chart"></i> Посещения</a>
  </li> #}

{# Clubs #}
  <li class="{{ current.controller == 'club' ? 'current' }}">
    <a href="{{path('manager_club_edit')}}" ><i class="fa fa-newspaper-o"></i> Edit Club</a>
  </li>
{# Users #}
  <li class="{{ current.controller == 'user' ? 'current' }}">
    <a href="{{path('manager_users_list')}}" ><i class="fa fa-users"></i> Администраторы</a>
  </li>
</ul>

<br />
<div class="info_club">
    <h4>Информация о Клубе</h4>

        <ul>
            <li>
                <label>Название клуба:</label> {{ club.title }}
            </li><li>
                <label>Адрес:</label> {{ club.address }}
            </li><li>
                <label>Контакты:</label> {{ club.contacts }}
            </li><li>
                <label>Активность:</label> {{ club.enabled }}
            </li><li>
                <label>Описание:</label> {{ club.description|raw }}
            </li>
        </ul>
        <img src=" {{ club.fimage }}" style="max-width: 90%" />

</div>
 <div class="info_club">
    <h4>Статистика Клуба</h4>
        <ul>
            <li>
                <label>Сумма вход:</label> {{ statistics.sum_in }}
            </li><li>
                <label>Сумма выход:</label> {{ statistics.sum_out}}
            </li><li>
                <label>Разница:</label> {{ statistics.sum_in - statistics.sum_out }}
            </li><li>
                <label>Гостей:</label> {{ statistics.count }}
            </li>
        </ul>
</div>