{# empty Twig template #}
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<div class="panel panel-primary filterable">

<table class="table table-hover">
    <thead class="panel-heading">
        <tr>
            <th><i class="fa fa-sort" aria-hidden="true"></i>Id</th></a>
            <th><i class="fa fa-sort" aria-hidden="true"></i>Имя гостя</th>
            <th>Телефон</th>
            <th><i class="fa fa-sort" aria-hidden="true"></i>Email</th>
        </tr>
    </thead>
    <tbody>

        {% for key, guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                
                <td>{{ guest.firstName }}</td>
                <td>{{ guest.phone }}</td>
                <td>{{ guest.email }}</td>
                <td>
                    <a href="{{path('admin_guest_edit',{'id':guest.id})}}" class="btn btn-info btn-block" >Просмотр</a>
                    <a href="{{path('admin_visit_edit')}}" class="btn btn-success btn-block" >Пришел</a>
                    <a href="{{path('admin_visit_edit',{'id':guest.id})}}" class="btn btn-success btn-block" >Ушел</a>
                </td>
            </tr>
        {% endfor %}


    </tbody>
</table>
</div>