{% extends 'sadmin/base.html.twig' %}

{% block body %}
	<div class="container-fluid">


		<h1 class="page-header">Guests</h1>

	<a href="{{path('sadmin_guest_edit')}}" class="btn btn-default"><i class="fa fa-plus"></i> New Guest</a>

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th><i class="fa fa-sort" aria-hidden="true"></i> <a href="{{ currentPath }}?column=id{% if column == 'id' and order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
						Id</th></a>
					<th>Action</th>
					<th><i class="fa fa-sort" aria-hidden="true"></i> <a href="{{ currentPath }}?column=firstName{% if column == 'firstName' and order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
						firstName</th>
					<th><i class="fa fa-sort" aria-hidden="true"></i> <a href="{{ currentPath }}?column=lastName{% if column == 'lastName' and order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
						lastName</th>
					<th>Phone</th>
					<th><i class="fa fa-sort" aria-hidden="true"></i> <a href="{{ currentPath }}?column=email{% if column == 'email' and order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}">
						Email</th>
				</tr>
			</thead>
			<tbody>

				{% for key, guest in guests %}
					<tr>
						<td>{{ guest.id }}</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a href="{{ path('sadmin_guest_edit', {'id' : guest.id}) }}" class="btn"><span class="fa fa-pencil" aria-hidden="true"></span></a>
								<a href="{{ path('sadmin_guest_delete', {'id' : guest.id}) }}" class="btn delete"><span class="fa fa-trash" aria-hidden="true"></span></a>
							</div>
						</td>
						<td>{{ guest.firstName }}</td>
						<td>{{ guest.lastName }}</td>
						<td>{{ guest.phone }}</td>
						<td>{{ guest.email }}</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>

	</div>
{% endblock %}